{% extends "layout/basic.html" %}

{% load bootstrap4 %}

{% block content %}
    <h2 class="title">{{ news.title }}</h2>
    <p align="right">{{ news.publication_date }}</p>
    {{ news.text|safe }}
    {% for image in news_image %}
    {% if news.pk == image.news.pk %}
    <p class="text-img mt-5"><img class="css-adaptive" src="{% url 'main:download' obj='NewsImage' pk=image.pk %}"></p>
    {% endif %}
    {% endfor %}
    <a href="{% url 'archive:archive' %}" class="btn btn-custom">Назад</a>
{% endblock %}

