{% extends "layout/basic.html" %}

{% block title %}О сайте{% endblock %}

{% block content %}
    <h2 class="title">О сайте</h2>
    <p>Репозиторий БГАИ - электронный архив для длительного хранения,
накопления, систематизации, и обеспечения долговременного
открытого доступа к документам научного, образовательного,
нормативного или иного назначения, созданный работниками
БГАИ и обучающимися в БГАИ.
        Доступ в Репозиторий осуществляется через официальный сайт <a href="http://bdam.by">БГАИ</a>
</p>
{% endblock %}