{% extends "layout/basic.html" %}

{% load bootstrap4 %}

{% block title %}{{ filter_object }}{% endblock %}

{% block content %}
<h2 class="title">{{ filter_object_name }}:</h2>
{% if articles_list %}
{% for article in articles_list %}
<div class="card card-nav-tabs mt-5">
    <h4 class="card-header card-header-custom title">{{ article.title }}</h4>
    <div class="card-body">
        <p class="card-text">{{ article.description }}</p>
        <p class="text-right font-italic">{{ article.created_at }}</p>
        <a href="#0" class="btn btn-custom" data-toggle="modal" data-target="#detail{{ article.id }}">Подробнее</a>
    </div>
</div>
{% endfor %}
<div class="pagination justify-content-center">
        <span class="page-links">
            {% if articles_list.has_previous %}
            <a href="/{{ filter_type }}/{{ filter_object }}/?page={{ articles_list.previous_page_number }}{% if request.GET.q %}&q={{request.GET.q }}{% endif %}"><i class="material-icons">arrow_back</i></a>
            {% endif %}
            <span class="page-current">
                Страница {{ articles_list.number }} из {{ articles_list.paginator.num_pages }}.
            </span>
            {% if articles_list.has_next %}
                <a href="/{{ filter_type }}/{{ filter_object }}/?page={{ articles_list.next_page_number }}{% if request.GET.q %}&q={{request.GET.q }}{% endif %}"><i class="material-icons">arrow_forward</i></a>
            {% endif %}
        </span>
</div>
{% else %}
<div>На данный момент статьи не добавлены.</div>
{% endif %}
{% endblock %}

{% block modal_init %}
{% for modal_obj in articles_list %}
<div class="modal fade" id="detail{{ modal_obj.id }}" tabindex="-1" role="dialog" style="display:none;" aria-hidden="true">
    {% include 'main/modal_article.html' with article_current=modal_obj %}
</div>
{% endfor %}
{% endblock %}