{% extends "layout/basic.html" %}

{% load bootstrap4 %}
{% load static %}

{% block header %}
<div class="page-header header-filter clear-filter" data-parallax="true" style="background-image: url({% static 'img/RPzast-logo.jpg' %});">
{% endblock %}

{% block content %}
<div class="parent">
                        <div class="div1">
                            {% include 'main/sidebar.html' %}
                        </div>
                        <div class="div2">
                            {% bootstrap_messages %}
    <h2 class="title">Все материалы</h2>
{% if object_list %}
{% for article in object_list %}
    <div class="card card-nav-tabs mt-5">
        <h4 class="card-header card-header-custom title">{{ article.title }}</h4>
        <div class="card-body">
            <p class="card-text">{{ article.bibliographic_description }}</p>
            <p class="text-right font-italic">{{ article.created_at }}</p>
            <a href="#0" class="btn btn-custom" data-toggle="modal" data-target="#detail{{ article.id }}">Подробнее</a>
        </div>
    </div>
{% empty %}
    <div>На данный момент статьи не добавлены.</div>
{% endfor %}
    <div class="pagination justify-content-center">
        <span class="page-links">
            {% if page_obj.has_previous %}
            <a href="/?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{request.GET.q }}{% endif %}"><i class="material-icons">arrow_back</i></a>
            {% endif %}
            <span class="page-current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
            <a href="/?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{request.GET.q }}{% endif %}"><i class="material-icons">arrow_forward</i></a>
            {% endif %}
        </span>
    </div>
{% endif %}
</div>
                    </div>
{% endblock %}

{% block modal_init %}
{% for modal_obj in object_list %}
    <div class="modal fade" id="detail{{ modal_obj.id }}" tabindex="-1" role="dialog" style="display:none;" aria-hidden="true">
    {% include 'main/modal_article.html' with article_current=modal_obj %}
    </div>
{% endfor %}
{% endblock %}