{% extends "layout/basic.html" %}

{% load static %}

{% block title %}О сайте{% endblock %}

{% block nav_logo %}
<div class="logo-image">
    <img src="{% static 'img/BGAI_Logo_White.png' %}" class="img-fluid">
</div>
{% endblock %}

{% block header_image %} url({% static 'img/RPzast-logo.jpg' %});{% endblock %}

{% block content %}
<h2>О сайте</h2>
<p>Репозиторий БГАИ предназначен для хранения и предоставления пользователям научной информации, методических материалов, научной корреспонденции.</p>
{% endblock %}