{% extends "layout/basic.html" %}

{% load bootstrap4 %}

{% block title %}Поиск{% endblock %}

{% block content %}
    <h2 class="title">Результат поиска</h2>
{% if object_list %}
{% for article in object_list %}
    <div class="card card-nav-tabs mt-5">
        <h4 class="card-header card-header-custom title">{{ article.title }}</h4>
        <div class="card-body">
            <p class="card-text">{{ article.description }}</p>
            <p class="text-right font-italic">{{ article.created_at }}</p>
            <a href="#0" class="btn btn-custom" data-toggle="modal" data-target="#detail{{ article.id }}">Подробнее</a>
        </div>
    </div>
{% endfor %}
    <div class="pagination justify-content-center">
        <span class="page-links">
            {% if page_obj.has_previous %}
            <a href="{% url 'main:search' %}?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{request.GET.q }}{% endif %}"><i class="material-icons">arrow_back</i></a>
            {% endif %}
            <span class="page-current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
            <a href="{% url 'main:search' %}?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{request.GET.q }}{% endif %}"><i class="material-icons">arrow_forward</i></a>
            {% endif %}
        </span>
    </div>
{% else %}
    <div>По данному запросу ничего не найдено</div>
{% endif %}
{% endblock %}

{% block modal_init %}
{% for modal_obj in object_list %}
    <div class="modal fade" id="detail{{ modal_obj.id }}" tabindex="-1" role="dialog" style="display:none;" aria-hidden="true">
    {% include 'main/modal_article.html' with article_current=modal_obj %}
    </div>
{% endfor %}
{% endblock %}